* {
  list-style: none;
}

img {
  vertical-align: bottom;
}

.triangle, .header-top-center-place .header-top-center-triangle, .sale-triangle {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #999 transparent transparent transparent;
}

.purple, .header-top-center-place:hover .samefont-01, .header-top-center-login .login-font:hover {
  color: #f10180;
  cursor: pointer;
}

.header-top {
  width: 100%;
  height: 30px;
  background-color: #F5F5F5;
}

.header-top-center {
  width: 1170px;
  margin: 0 auto;
}
.header-top-center .header-top-center-login {
  width: 772px;
  height: 30px;
  float: right;
  font-size: 12px;
  line-height: 30px;
  margin-left: 15px;
}
.header-top-center .header-top-center-login .login-font {
  float: left;
  width: 11.1%;
  text-align: center;
}

.header-top-center-place {
  float: left;
  width: 80px;
  height: 30px;
  position: relative;
}
.header-top-center-place .samefont-01 {
  font-size: 12px;
  line-height: 30px;
  margin-left: 15px;
}
.header-top-center-place .header-top-center-triangle {
  float: right;
  position: absolute;
  top: 12px;
  right: 6px;
}

.header-top-center-place:hover {
  cursor: pointer;
}
.header-top-center-place:hover .header-top-center-triangle {
  border-color: #f10180 transparent transparent transparent;
}

.header-top-center-login {
  position: relative;
}
.header-top-center-login img {
  margin-bottom: 8px;
}
.header-top-center-login .login-font:hover .sale-triangle {
  border-color: #f10180 transparent transparent transparent;
}

.sale-triangle {
  top: 14px;
  position: absolute;
}

.header-search {
  height: 100px;
  width: 1170px;
  margin: 0 auto;
}
.header-search .header-search-left {
  width: 464px;
  float: left;
}
.header-search .header-search-left .logo {
  position: absolute;
  float: left;
}
.header-search .header-search-left .logo-right {
  height: 100px;
  width: 304px;
  margin-left: 160px;
}
.header-search .header-search-right {
  position: relative;
  width: 572px;
  height: 100%;
  float: right;
}
.header-search .header-search-right .search-search {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  top: 0;
  width: 388px;
  height: 60px;
  float: left;
}
.header-search .header-search-right .search-search .under-searchbox {
  color: #999;
  cursor: pointer;
  font-size: 12px;
}
.header-search .header-search-right .search-search .under-searchbox li {
  float: left;
  padding: 0 4px 0 4px;
}
.header-search .header-search-right .search-search .under-searchbox .year {
  padding-left: 0;
}
.header-search .header-search-right #searchbox {
  border: none;
  outline: none;
  background-color: white;
  width: 324px;
  height: 28px;
  padding: 2px 12px;
  font-size: 14px;
  line-height: 30px;
}
.header-search .header-search-right .searchboxline {
  border: 2px solid #fa2a83;
  width: 387px;
  height: 32px;
  z-index: 2;
}
.header-search .header-search-right .searchlogo {
  width: 56px;
  height: 100%;
  background-color: #fa2a83;
  float: right;
}
.header-search .header-search-right .searchlogo .searchlogo-help {
  cursor: pointer;
  background-image: url(//shop.vipstatic.com/img/common/header/sprites-hash-06206acd.png?78d4dd66);
  background-position: -281px -101px;
  width: 25px;
  height: 28px;
  margin-left: 15px;
}

.search-bag {
  cursor: pointer;
  width: 96px;
  height: 34px;
  background-color: #f6f7f9;
  border: 1px solid #ccc;
  float: right;
  margin-right: 18px;
  margin-top: 18px;
}
.search-bag p {
  font-size: 14px;
  float: left;
  line-height: 34px;
  margin-left: 10px;
}
.search-bag span {
  width: 26px;
  height: 16px;
  border-radius: 17px;
  text-align: center;
  line-height: 16px;
  background-color: #f00581;
  color: white;
  margin-right: 6px;
  margin-top: 8px;
  float: right;
}

.help-nav {
  z-index: 100;
  top: 130px;
  background-color: white;
  width: 100%;
  box-shadow: 0 1px 3px 0 #a7a7a7;
}

.header-nav {
  width: 1170px;
  height: 43px;
  margin: 0 auto;
  top: 0;
}
.header-nav .specilal {
  color: #f10180;
  font-weight: bolder;
}
.header-nav img {
  margin-bottom: 3px;
}
.header-nav li {
  float: left;
  line-height: 40px;
  width: 7.1%;
  text-align: center;
  height: 100%;
}
.header-nav li:hover {
  color: #f10180;
  cursor: pointer;
}
.header-nav .goods-categories {
  color: white;
  width: 126px;
  height: 43px;
  background-color: #F10180;
}
.header-nav .goods-categories:hover {
  color: white;
}

footer {
  width: 100%;
  position: relative;
}
footer .footer-top {
  height: 447px;
  background-color: #fcfcfc;
  position: relative;
}
footer .footer-top .footer-top-center {
  position: absolute;
  width: 960px;
  height: 447px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
footer .footer-top .footer-top-center img {
  margin: 30px 0 0 20px;
  padding-bottom: 30px;
}
footer .footer-top .footer-top-center .footer-top-center-box {
  margin-left: 12px;
  width: 145px;
  height: 146px;
  border-right: 1px solid #999;
  float: left;
  padding: 0 1px 0 16px;
}
footer .footer-top .footer-top-center .footer-top-center-box :first-child {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bolder;
}
footer .footer-top .footer-top-center .footer-top-center-box .promise {
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}
footer .footer-top .footer-top-center .footer-top-center-box .code {
  margin-top: 0;
  margin-bottom: -31px;
}
footer .footer-top .footer-top-center .footer-top-center-box .special-code {
  margin-top: 0;
}
footer .footer-bottom {
  height: 40px;
}

.special-code-box {
  border-right: none !important;
}

.contact {
  width: 960px;
  height: 30px;
  background-color: #d7237e;
  margin-top: 170px;
  color: white;
  font-size: 14px;
  position: relative;
}
.contact ul {
  border: 1px solid transparent;
  width: 790px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 4px;
  bottom: 0;
}
.contact ul .report {
  border-right: none;
}
.contact li {
  text-align: center;
  border-right: 1px solid white;
  padding: 0 8px;
  float: left;
}

.footer-footer {
  width: 960px;
  height: 76px;
  margin: 14px 0;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.footer-bottom {
  width: 960px;
  height: 40px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 482px;
  bottom: 0;
  text-align: center;
}

.banner-sport {
  margin-top: 43px;
  width: 100%;
  height: 452px;
  background: url(http://b.appsimg.com/upload/momin/2020/12/01/182/1606809162008.jpg) center no-repeat;
}
.banner-sport .banner-sport-img {
  width: 1146px;
  height: 400px;
  margin: 0px 0 0 379px;
  position: relative;
}
.banner-sport .banner-help {
  padding-left: 300px;
}
.banner-sport .banner-left,
.banner-sport .banner-right {
  width: 230px;
  height: 40px;
  float: left;
  line-height: 40px;
  text-align: center;
}
.banner-sport .banner-left {
  border-bottom: 2px solid #e6057d;
}

.span-left,
.span-right {
  background: rgba(0, 0, 0, 0.5);
  width: 33px;
  height: 66px;
  color: white;
  font-size: 22px;
  line-height: 66px;
  text-align: center;
}

.span-left {
  position: absolute;
  left: 1113px;
  top: 144px;
}

.span-right {
  position: absolute;
  right: 1113px;
  top: 144px;
  z-index: 11111;
}

.render {
  width: 1170px;
}
.render ul li {
  width: 570px;
  height: 320px;
  float: left;
  border: 1px solid red;
  margin: 15px 0px;
}
.render ul li span {
  font-weight: bolder;
  font-size: 18px;
}
.render .start-woman {
  width: 570px;
  float: left;
  margin: 0 7px 0 7px;
}
.render .start-woman span {
  color: #999;
  font-size: 14px;
}
.render .start-woman .woman-intro {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
  margin-left: 8px;
}
.render .start-woman .woman-num {
  margin-left: 8px;
  color: red;
  font-size: 18px;
}
.render .nvzhuang {
  padding: 22px 0;
}

.start-shoes {
  width: 570px;
  float: left;
  margin: 0 7px 0 7px;
}
.start-shoes span {
  color: #999;
  font-size: 14px;
}
.start-shoes .shoes-intro {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
  margin-left: 8px;
}
.start-shoes .shoes-num {
  margin-left: 8px;
  color: red;
  font-size: 18px;
}

.xiebao {
  padding: 22px 0;
}
.xiebao img {
  margin-top: 100px;
}

.start-clothes {
  width: 570px;
  float: left;
  margin: 0 7px 0 7px;
}
.start-clothes span {
  color: #999;
  font-size: 14px;
}
.start-clothes .clothes-intro {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
  margin-left: 8px;
}
.start-clothes .clothes-num {
  margin-left: 8px;
  color: red;
  font-size: 18px;
}

.nanzhuang {
  padding: 22px 0;
}

.yundong {
  padding: 22px 0;
}

.sport {
  height: 800px;
  background-color: lightgreen;
}

.shipin {
  padding: 10px 0;
}

.watches {
  height: 800px;
  background-color: #5b5d5e;
}

.meizhuang {
  padding: 22px 0;
}

.beauty {
  height: 800px;
  background-color: #46a3e0;
}

.muying {
  padding: 22px 0;
}

.baby {
  height: 800px;
  background-color: #31449b;
}

.jujia {
  padding: 22px 0;
}

.home {
  height: 800px;
  background-color: #86319b;
}

.shenghuo {
  padding: 22px 0;
}

.life {
  height: 800px;
  background-color: rgba(49, 155, 137, 0.418);
}

.bigsale {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.bigsale-box {
  width: 100%;
  height: 250px;
  text-align: center;
  position: relative;
}
.bigsale-box .bigsale-boxhelp {
  width: 1196px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bigsale-box img {
  margin-right: 20px;
  float: left;
}

.mustsee-box {
  width: 100%;
  position: relative;
  height: 342px;
}
.mustsee-box .mustsee {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1170px;
  height: 342px;
}
.mustsee-box .mustsee .mustsee-left,
.mustsee-box .mustsee .mustsee-right {
  float: right;
  position: relative;
  float: right;
  width: 570px;
  height: 342px;
}
.mustsee-box .mustsee .mustsee-left li img,
.mustsee-box .mustsee .mustsee-right li img {
  width: 172px;
  height: 217px;
  padding-bottom: 4px;
}
.mustsee-box .mustsee .mustsee-left {
  float: left;
  width: 600px;
  height: 342px;
  position: relative;
}
.mustsee-box .mustsee .mustsee-left .mustsee-leftpic {
  position: relative;
  width: 700px;
  height: 340px;
}
.mustsee-box .mustsee .mustsee-left ul {
  position: absolute;
  padding-left: 30px;
  left: 0;
  right: 0;
  top: 72px;
  width: 100%;
  height: 290px;
}
.mustsee-box .mustsee .mustsee-left ul li {
  float: left;
  margin-right: 8px;
}
.mustsee-box .mustsee .mustsee-left ul li .temaiprice {
  width: 70px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  height: 22px;
  padding: 3px 10px;
  background: #F03867;
  margin-left: 40px;
}
.mustsee-box .mustsee .mustsee-left ul li .thisisprice {
  font-size: 14px;
  margin: 3px 0 0 10px;
}

.mustersee-rightpic img {
  width: 600px;
  height: 339px;
}

.helpul {
  position: absolute;
  left: 35px;
  top: 70px;
  width: 580px;
}
.helpul li {
  width: 172px;
  height: 217px;
  background-color: #F2F2F2;
  float: left;
  margin-right: 8px;
  position: relative;
}
.helpul .topfirst img {
  width: 120px;
  height: 22px;
  position: absolute;
  left: 26px;
  bottom: 17px;
  z-index: 100;
}
.helpul .manclothes {
  position: absolute;
  left: 30px;
  bottom: -30px;
  z-index: 101;
}
.helpul .bangbang {
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  z-index: 102;
  font-size: 14px;
  background-color: #f00581;
  color: white;
  position: absolute;
  left: 126px;
  bottom: -30px;
}

.nvxue img {
  width: 120px;
  height: 22px;
  position: absolute;
  left: 208px;
  bottom: 17px;
  z-index: 100;
}

.womanshoes {
  position: absolute;
  left: 232px;
  bottom: -30px;
}

.bang {
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  z-index: 102;
  font-size: 14px;
  background-color: #f00581;
  color: white;
  position: absolute;
  left: 277px;
  bottom: -30px;
}

.ertong img {
  width: 120px;
  height: 22px;
  position: absolute;
  left: 382px;
  bottom: 17px;
  z-index: 100;
}

.children {
  position: absolute;
  left: 388px;
  bottom: -30px;
}

.bangbangbang {
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  z-index: 102;
  font-size: 14px;
  background-color: #f00581;
  color: white;
  position: absolute;
  left: 485px;
  bottom: -30px;
}

.secondmust {
  width: 100%;
  height: 357px;
  margin-top: 30px;
  position: relative;
}
.secondmust .secondmust-pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1165px;
  height: 395px;
}
.secondmust .secondmust-center {
  width: 1170px;
  height: 357px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.secondmust .secondmust-center ul {
  width: 1130px;
  height: 70%;
  position: absolute;
  left: 20px;
  top: 72px;
}
.secondmust .secondmust-center ul li {
  width: 174px;
  height: 100%;
  float: left;
  margin-right: 16px;
  position: relative;
}
.secondmust .secondmust-center ul .specialli {
  margin-right: 0;
}

.caihongfather {
  width: 100px;
  height: 60px;
  background-color: white;
  z-index: 106;
  text-align: center;
  position: absolute;
  left: 30px;
  box-shadow: 0 1px 1px 0 #a7a7a7;
  top: 140px;
}
.caihongfather .caihong {
  margin-top: 10px;
  width: 80px;
  height: 40px;
}

.temaijia {
  width: 120px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.temaijia .temaibox {
  line-height: 30px;
  background-color: #F03867;
  color: white;
  border-radius: 10px;
  padding: 2px 10px;
}
.temaijia .saledeprice {
  margin-left: 10px;
}

.xiebag {
  width: 1170px;
  height: 2200px;
}
.xiebag .shoesbagsons {
  margin: 7px 7px;
  float: left;
  width: 570px;
  height: 350px;
}
.xiebag .shoesbagsons .xie-intro {
  font-weight: 800;
  font-size: 20px;
  color: #333;
  line-height: 40px;
  margin-left: 10px;
}
.xiebag .shoesbagsons .zhekou-xie {
  margin-left: 10px;
  font-size: 18px;
  color: #f10582;
  font-family: Arial;
  font-weight: bolder;
}
.xiebag .shoesbagsons .zhekoutop {
  margin-left: 4px;
}

.more {
  width: 100%;
  height: 44px;
  position: relative;
}
.more .more-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 324px;
  height: 44px;
  background-color: #f10180;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 44px;
}

.more-center:hover {
  cursor: pointer;
  background-color: #F43499;
}

.listboxer {
  margin-top: 10px;
  padding: 0 0 20px 0;
}
.listboxer .newprice,
.listboxer .oldprice,
.listboxer .discount,
.listboxer .zhe {
  display: contents;
}

.ppp {
  width: 100px;
  height: 20px;
  display: initial;
  margin-left: 60px;
}

.temaijiaa {
  float: left;
  margin: 5px 0 0 5px;
  position: absolute;
  color: white !important;
  border-radius: 18px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: #ff38c0;
  background-image: linear-gradient(270deg, #e456ff 0, #ff31a3 100%);
}

.list a {
  text-decoration: none;
  float: left;
  margin-left: 10px;
}
.list img {
  width: 218;
  height: 218px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.list .listtitle {
  color: black;
  text-decoration: none;
  width: 210px;
  text-indent: -4px;
  line-height: 20px;
  font-size: 12px;
  margin: 10px 0 0 5px;
}
.list span {
  color: #666;
  text-decoration: none;
  margin-left: -212px;
  width: 50px;
}

.xuanrantitle {
  position: relative;
}

.newprice {
  font-size: 23px;
  font-weight: bolder;
  color: #333;
}

.oldprice {
  color: #999 !important;
  font-size: 14px;
  text-decoration: line-through !important;
}

.discount,
.zhe {
  font-size: 14px;
  color: #999999 !important;
}

.lunbopic-bigbox {
  position: relative;
  min-width: 1000px;
}

.lunbopic {
  width: 100%;
  height: 452px;
  background: url("//b.appsimg.com/upload/momin/2020/12/01/182/1606809162008.jpg") -19px 0;
}
.lunbopic .lunbopic-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -44%);
  width: 1166px;
  height: 408px;
}

.lunbo {
  height: 340px;
  position: relative;
}

.lunbo ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}

.lunbo ol {
  visibility: hidden;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.lunbo ol li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  text-indent: -999em;
  margin-right: 5px;
}

.lunbo ol li.active {
  background: blue;
}

#left,
#right {
  position: absolute;
  top: 70%;
  margin-top: -60px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  text-decoration: none;
  width: 33px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  display: none;
}

#left {
  left: 0px;
}

#right {
  right: 20px;
}

.render {
  position: relative;
  width: 100%;
  height: 22017px;
}
.render .render-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1180px;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
