* {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 100px;
    position: relative;
}

.top-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 100px;
    /* border: 1px solid red; */
    position: relative;
}

.top-centerleft {
    width: 125px;
    height: 100px;
    background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: -308px -57px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-centerright {
    width: 304px;
    height: 100px;
    background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.bottom {
    width: 100%;
    height: 78px;
    position: relative;
}

.bottom-center {
    color: #666;
    width: 1000px;
    height: 78px;
    text-align: center;
    /* border: 1px solid red; */
    line-height: 78px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "å¾®è½¯é›…é»‘";
    font-size: 12px;
}

.main {
    /* width: 1000px; */
    height: 650px;
    position: relative;
    background: url("//b.appsimg.com/upload/momin/2020/12/14/15/1607915393371.jpg") no-repeat center center;
}

.main-center {
    width: 1000px;
    height: 550px;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.zhuce {
    width: 360px;
    height: 400px;
    background-color: white;
    float: right;
    border-radius: 4px;
}

.zhuce-top {
    width: 300px;
    height: 50px;
    /* border: 1px solid red; */
    padding: 0 30px;
    border-bottom: 1px solid #e0e0e0;
}

.vip {
    font-size: 18px;
    color: #666;
    font-weight: bolder;
    line-height: 50px;
    float: left;
}

.have {
    /* width: 112px; */
    line-height: 50px;
    font-size: 14px;
    color: #333;
    height: 50px;
    /* border: 1px solid red; */
    float: right;
}

.have span {
    color: #f10180;
}

.zhuce-bottom {
    width: 300;
    height: 426px;
    /* border: 1px solid blue; */
    padding: 30px;
}

.sjnun,
.yx,
.mima,
.qrmima {
    width: 302px;
    height: 46px;
    /* border: 1px solid red; */
}

.sjnumdd,
.yxdd,
.mimadd,
.qrmimadd {
    width: 300px;
    height: 19px;
    /* border: 1px solid blue; */
    margin: 2px 0 5px 0;
}

#phone,
#email,
#passwd,
#surepasswd {
    width: 250px;
    height: 32px;
    padding: 6px 10px 6px 40px;
    /* border: 1px solid #333; */
    /* border: 1px solid #ec5042; */
}

.sjpic {
    position: absolute;
    margin: 14px 0 0 8px;
    width: 20px;
    height: 20px;
    background-image: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: -456px -221px;
}

.yxpic {
    background: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: -480px -221px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 14px 0 0 8px;
}

.mimapic {
    background: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: -528px -221px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 14px 0 0 8px;
}

.qrmimapic {
    background: url(//member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192);
    background-position: -528px -221px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 14px 0 0 8px;
}

.zhuce-bottom span {
    font-size: 12px;
    line-height: 12px;
}

.read {
    width: 299px;
    height: 36px;
    /* border: 1px solid red; */
    margin-top: 10px;
}

.readtext {
    width: 260px;
    height: 36px;
    /* border: 1px solid blue; */
    float: right;
    font-size: 12px;
}

#check {
    margin-top: 10px;
    width: 19px;
    height: 19px;
}

#sure {
    width: 298px;
    height: 40px;
    background-color: #f10180;
    border: 1px solid #f10180;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
}